<div class="body">
  <div class="container">
    <% if flash[:notice] %>
    <%= flash[:notice] %>
    <% end %>
    <div class="row">
      <%= render 'books/list', user: current_user  %>
      <div class="col-xs-9">
      	<h2>Users</h2>
      	<table class= "table">
      	  <thead>
      	    <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="3"></th>
      	    </tr>
      	  </thead>
      	  <tbody>
      	  	<% @users.each do |users| %>
      	  	<tr>
      	  	  <th>
      	  	  	<%= attachment_image_tag users.profile_image, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
      	  	  </th>
      	  	  <th>
      	  	  	<%= users.name %>
      	  	  </th>
      	  	  <th>
      	  	  	<%= link_to 'Show', user_path(users.id) %>
      	  	  </th>
      	  	</tr>
      	  	<% end %>
      	  </tbody>
      	</table>
      </div>
    </div>
  </div>
</div>